<template>
    <div class="page">
        <div class="container">
            <h3>I am currently accepting new projects! <br> Feel free to get in touch by any of the following media!</h3>
            <div class="links">
                <ul>
                    <li><a href="https://www.instagram.com/alex.borecky/" target="_blank">Instagram</a></li>
                    <li><a href="mailto:boreckyalex@gmail.com">Email</a></li>
                    <li><a href="http://linkedin.com/in/alexborecky" target="_blank">Linkedin</a></li>
                </ul>
            </div>
        </div>
    </div>
</template>


<script>
export default {
      head () { 
      return {
          title: 'Contact | Alex Borecky'
      }
  }
}
</script>


<style lang="scss" scoped>


.page {
    height: 100vh;
    align-items: center;
    .container {
        height: 40%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-flow: column;
        h3 {
            text-align: center;
        }
        .links {
            width: 40%;
            ul {
                padding-left: 0;
                display: flex;
                justify-content: space-around;
                list-style: none;
                @media only screen and (max-width: 450px) {
                    display: flex;
                    flex-flow: column;
                    align-items: center;
                }
                li {
                    @media only screen and (max-width: 450px) {
                        margin: 8px 0;
                    }
                    a {
                        text-transform: uppercase;
                        opacity: .6;
                        &:hover {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}
    
</style>