<template>
    <div class="page">
        <div class="container under-navigation">
            <projectHeader 
                :projectTitle="projectTitle"
                projectImage="https://images.unsplash.com/photo-1517241034903-9a4c3ab12f00?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80"
                url="https://dribbble.com/shots/12093975-Chat-Concept"
                :secondText="secondText"
                :buttonText="button"
            />
            <div class="project-statuses flex-row">
                <projectStatus
                :statusHeadline="client"
                :attributeOne="clientAttribute"
                />
                <projectStatus
                :statusHeadline="role"
                :attributeOne="roleAttributeOne"
                attributeTwo=""
                />
                <!-- <projectStatus
                :statusHeadline="problem"
                :attributeOne="problemAttribute"
                />
                <projectStatus
                :statusHeadline="task"
                :attributeOne="taskAttribute"
                /> -->
                <projectStatus
                :statusHeadline="status"
                :attributeOne="statusAttribute"
                />
            </div>
            <projectDescription
                :projectDescription="description"
            />
            <projectImage
                :sectionTitle="titleOne"
                :sectionContent="contentOne"
                imageHolder="https://alexborecky.com/images/chatOne.png"
            />
            <imageText
                :imageText='imageTextOne'
                coverImage="https://alexborecky.com/images/chatThree.png"
            />
            <projectImage
                :sectionTitle="titleTwo"
                :sectionContent="contentTwo"
                imageHolder="https://alexborecky.com/images/chatTwo.png"
            />
        </div>
    </div>
</template>


<script>

export default {
    name: 'chatProject',
    components: {
    },
    head () { 
      return {
          title: 'Chat Project | Alex Borecky'
      }
    },
    data () {
        return {
            button: 'Concept',
            projectTitle: 'Chat',
            secondText: 'Visit Concept',
            // CLIENTS
            client: 'Client',
            clientAttribute: 'Concept',
            // ROLES
            role: 'Role',
            roleAttributeOne: 'Product Designer',
            // roleAttributeTwo: 'Coder',
            //PROBLEM 
            problem: 'Problem',
            problemAttribute: 'Unclear message of existing page',
            //TASK 
            task: 'Task',
            taskAttribute: 'Redesign existing page based on research',
            //STATUS
            status: 'Status',
            statusAttribute: 'Waiting',
            //DESCRIPTION
            description: 'Initiative to build a chat UI that is combination of a great UX and UI has been both personal and professional. I tried to create this chat for a company use, however, the modules has been scratched from the project and concept existed.',
            //SECTION ONE
            titleOne: 'List of chats',
            contentOne: 'Since the amount of employees has been significant, we were trying to figure out a way to have a chat that is familiar to any other platform that the users have on their phone. The list is very similar to all, so we decided to not reinvent the wheel and stick with proven concepts.',
            //BIG IMAGE
            imageTextOne: 'Easy to read and write. Just what you want from a messaging interface',
            //SECTION TWO
            titleTwo: 'Messages',
            contentTwo: 'Most important part was the messaging itself, of course. The current look is based on the preferences of the users who were most familiar with Messenger from Facebook and WhatsApp.',
        }
    }
}
</script>


<style lang="scss" scoped>

.project-statuses {
    flex-wrap: wrap;
    div {
        margin-right: 50px;
        padding-bottom: 24px;
    }
}
    
</style>