.page {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.container {
    width: 90%;
}

.under-navigation {
    margin-top: 150px;
}

.half {
    width: 50%;
}

.sixty {
    width: 60%;
    @media only screen and (max-width:450px) {
        width: 100%;
    }
}

.fourty {
    width: 40%;
    @media only screen and (max-width:450px) {
        width: 100%;
    }
}

.underline {
    height: 2px;
    width: 100%;
    margin-top: 4px;
    background-color: white;
}

.flex-column {
    display: flex;
    flex-flow: column;
}

.flex-column-center {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.flex-column-center-left {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}

.flex-row {
    display: flex;
}

.project-div {
    margin: 20vh 0 20vh 0;
}