
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

* {
    font-family: 'Mulish' ;
    color: white;
}


h1 {
    font-size: 15em;
    font-weight: bold;
    @media only screen and (max-width: 1400px) {
        font-size: 120px;
    }
    @media only screen and (max-width: 450px) {
        font-size: 48px;
    }
}

h2 {
    font-size: 80px;
    font-weight: bold;
    @media only screen and (max-width: 450px) {
        font-size: 32px;
    }
}

h3 {
    font-size: 48px;
    line-height: 72px;
    @media only screen and (max-width: 450px) {
        font-size: 24px;
        line-height: 36px;
    }
}

h4 {
    font-size: 24px;
    letter-spacing: 2px;
    line-height: 32px;
    font-weight: 800;
    @media only screen and (max-width:450px) {
        line-height: 24px;
        font-size: 20px;
    }
}

a {
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 4px;
    font-weight: bold;
}

p {
    font-size: 14px;
}

caption {
    font-size: 10px;
    text-transform: uppercase;
}