<template>
    <a @click="$router.go(-1)">
        Go Back
        <div class="underline"></div>
    </a>
</template>


<script>
export default {
    name: 'backButton'
}
</script>

<style lang="scss" scoped>
    
a {
    cursor: pointer;
    font-weight: 600;
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 100px;
    color: white;
    .underline {
        margin-top: 4px;
        height: 4px;
        width: 0px;
        background-color: white;
        transition: .4s ease-in;
    }
    &:hover {
        .underline {
            width: 24px;
        }
    }
}

</style>