<template>
    <div class="button">
        <p>{{buttonText}}</p>
    </div>
</template>


<script>
export default {
    name: 'buttonVue',
    data () {
        return {
            text: 'text'
        }
    },
    props: ['buttonText'],
}
</script>


<style lang="scss" scoped> 

.button {
    width: auto;
    height: 40px;
    background-color: black;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    p {
        padding: 0 20px;
    }
}
    
</style>