<template>
    <div class="project-component" :style="{backgroundImage: 'url(' + projectThumbnail + ')'}">
        <div class="image-gradient">
            <h2>{{projectName}}</h2>
            <externalButton 
                :linkText="linkText" 
                :url="url"
            />
        </div>
    </div>
</template>

<script>
import buttonVue from './button.vue'

export default {
    name: 'externalPreview',
    components: {
        buttonVue,
    }, 
    data () {
        return {
            buttonContent: 'Hello',
        }
    },
    props: ['projectName', 'linkText', 'projectThumbnail', 'url'],
}
</script>


<style lang="scss" scoped>

.project-component {
    background-position: center;
    background-size: cover;
    width: 95%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    .image-gradient {
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(13,13,13,1) 0%, rgba(13,13,13,.4) 100%);
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        a {
            opacity: 0;
            transition: .4s ease-in;
            transform: translateY(20px);
            margin-top: 10px;
            @media only screen and (max-width: 1366px) {
                opacity: 1;
            }
        }
        h2 {
            color: white;
            text-align: center;
        }
    }
    &:hover {
        a {
            opacity: 1;
            transform: translateY(0px);
        }
    }
}
    
</style>