<template>
    <div class="project-div image-text" :style="{backgroundImage: 'url(' + coverImage + ')'}">
        <div class="cover flex-center">
            <h3>{{imageText}}</h3>
        </div>
    </div>
</template>


<script>
export default {
    name: 'imageText',
    props: ['imageText', 'coverImage']
}
</script>



<style lang="scss" scoped>

.image-text {
    height: 80vh;
                background-position: center;
            background-size: cover;
    .cover {
        width: 100%;
        height: 100%;
        background-color: rgba(#0d0d0d, .8);
        h3 {
            max-width: 80%;
            text-align: center;
        }
    }
}
    
</style>