<template>
    <div class="navigation">
        <div class="container">
            <div class="logo">
                <nuxt-link to="/"><h4>Alex Borecky</h4></nuxt-link>
            </div>
            <div class="links">
                <ul>
                    <li><nuxt-link to="/">Projects <div class="dot"></div> </nuxt-link></li>
                    <li><nuxt-link to="/about">About<div class="dot"></div></nuxt-link></li>
                    <li><nuxt-link to="/contact">Contact<div class="dot"></div></nuxt-link></li>
                </ul>
            </div>
        </div>
        <side-bar/>
    </div>
</template>


<script>

import sideBar from '@/components/sideBar.vue'

export default {
    name: 'navigation',
    components: {
        sideBar
    }
}
</script>


<style lang="scss" scoped>

.navigation {
    color: white;
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: #0d0d0d;
    display: flex;
    justify-content: center;
    z-index: 1000;
    .container {
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
            z-index: 10001;
            h4 {
                text-transform: uppercase;
                font-size: 20px;
            }
        }
        .links {
            ul {
                display: flex;
                li {
                    list-style: none;
                    margin-left: 80px;
                    a {
                        color: white;
                        display: flex;
                        flex-flow: column;
                        justify-content: center;
                        align-items: center;
                        opacity: .6;
                        text-transform: uppercase;  
                        &:hover {
                            opacity: 1;
                        }
                        .dot {
                            display: none;
                            height: 4px;
                            width: 4px;
                            background-color: white;
                            border-radius: 100px;
                            margin-top: 4px;
                        }
                    }
                }
            }
                @media only screen and (max-width: 450px ){
                    display: none;
                }
        }
    }
}

.nuxt-link-exact-active {
        .dot {
            display: block !important;
        }
        opacity: 1 !important;
}
    
</style>