<template>
    <a :href="'url(' + projectSite + ')'">
        <div class="button">
            <p>{{secondText}}</p>
        </div>
    </a>
</template>


<script>
export default {
    name: 'projectButton',
    data () {
        return {
            text: 'text'
        }
    },
    props: ['secondText', 'projectSite'],
}
</script>


<style lang="scss" scoped> 

.button {
    width: auto;
    height: 50px;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    transition: .4s ease-in;
    p {
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 800;
        letter-spacing: .5px;
        padding: 8px;
        transition: .4s ease-in;
    }
    &:hover {
        .dot {
            opacity: 1;
            transition: .4s ease-in;
        }
        svg {
            width: 40px;
        }
    }
    svg {
        width: 0px;
        height: auto;
        transition: .4s;
    }
}
    
</style>