<template>
    <div class="status flex-coloumn">
        <div class="headline">
            <p>{{statusHeadline}}<section class="underline"></section></p>
        </div>
        <div class="status-attribute">
            <ul>
                <li>{{attributeOne}}</li>
                <li>{{attributeTwo}}</li>
                <li>{{attributeThree}}</li>
            </ul>
        </div>
    </div>
</template>


<script>
export default {
    name: 'projectStatus',
    props: ['statusHeadline', 'attributeOne', 'attributeTwo', 'attributeThree']
}
</script>


<style lang="scss" scoped>

.status {
    width: calc(100%/6);
    @media only screen and (max-width: 450px) {
        width: 50%;
    }
    .headline {
        opacity: .4;
    }
}

.status-attribute {
    ul {
        padding-left: 0px;
        margin-top: 16px;
        li {
            list-style-type: none;
            line-height: 24px;
        }
    }
}
    
</style>