<template>
    <div class="project-image flex-row project-div">
        <div class="fourty text">
            <div class="content flex-column-center-left">
                <div class="title">
                    <p>{{sectionTitle}}</p>
                    <div class="underline"></div>
                </div>
                <h4>{{sectionContent}}</h4>
            </div>
        </div>
        <div class="sixty image flex-end">
            <div class="holder" :style="{backgroundImage: 'url(' + imageHolder + ')'}">
            </div>
        </div>
    </div>
</template>


<script>
export default {
    name: 'projectImage',
    props: ['sectionTitle', 'sectionContent', 'imageHolder']
}
</script>


<style lang="scss" scoped>

.project-image {
    height: 75vh;
    .image {
        height: 100%;
        .holder {
            height: 100%;
            width: 75vh;
            background-position: center;
            background-size: cover;
            @media only screen and (max-width: 1400px) {
                background-size: 100% auto;
                background-repeat: no-repeat;
            }
        }
    }
    .content {
        height: 100%;
        max-width: 80%;
        .title {
            width: 240px;
            opacity: .2;
            margin: 0 0 16px 0;
            text-transform: uppercase;
        }
    }
    @media only screen and (max-width: 450px ) {
        flex-direction: column;
        height: 100vh;
        .content {
            max-width: 100%;
        }
        .image {
            margin-top: 40px;
        }
    }
}
</style>