<template>
    <div class="header flex-column-center">
        <h1>{{projectTitle}}</h1>
        <div class="project-image" :style="{backgroundImage: 'url(' + projectImage + ')'}">
            <div class="cover flex-column-center">
                <div class="visit divided">
                    <a :href="url" class="visit-button" target="_blank">
                        {{buttonTitle}} <div class="underline"></div>
                    </a>
                </div>
                <div class="scroll divided">
                    <h5>Scroll down</h5>
                </div>
            </div>
        </div>
    </div>
</template>


<script>

export default {
    name: 'projectHeader',
    props: ['projectTitle', 'projectImage', 'url', 'secondText', 'buttonTitle']
}

</script>


<style lang="scss" scoped>
    
.header {
    width: 100%;
    h1 {
        width: 100%;
        text-align: center;
        z-index: 10;
        position: relative;
    }
    .project-image {
        position: relative;
        top: -12vh;
        width: 100%;
        height: 75vh;
        background-position: center;
        background-size: cover;
        @media only screen and (max-width: 450px) {
            height: 40vh;
            top: -10vh;
        }
        .cover {
            width: 100%;
            height: 100%;
            background-color: rgba(#0d0d0d, .6);
            .divided {
                height: 25%;
                width: 100%;
                display: flex;
                justify-content: center;
                @media only screen and (max-width: 450px) {
                    height: 50%;
                }
            }
            .visit {
                align-items: flex-end;
                .visit-button {
                    font-size: 20px;
                    text-transform: uppercase;
                }
            }
            .scroll {
                align-items: center;
                opacity: .4;
            }
        }
    }
}

</style>