<template>
        <div class="project-description flex-column-center-left project-div">
            <h3>{{projectDescription}}</h3>
        </div>
</template>


<script>
export default {
    name: 'projectDescription',
    props: ['projectDescription']
}
</script>



<style lang="scss" scoped>

.project-description {
    min-height: 50vh;
    h3 {
        max-width: 90%;
    }
}
    
</style>