<template>
    <nuxt-link :to="secondPath">
        <div class="button">
            <p>{{secondText}}</p>
            <svg width="41" height="16" viewBox="0 0 41 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M40.7071 8.70711C41.0976 8.31659 41.0976 7.68342 40.7071 7.2929L34.3431 0.928935C33.9526 0.538411 33.3195 0.538411 32.9289 0.928935C32.5384 1.31946 32.5384 1.95262 32.9289 2.34315L38.5858 8L32.9289 13.6569C32.5384 14.0474 32.5384 14.6805 32.9289 15.0711C33.3195 15.4616 33.9526 15.4616 34.3431 15.0711L40.7071 8.70711ZM-8.74228e-08 9L40 9L40 7L8.74228e-08 7L-8.74228e-08 9Z" fill="white"/>
            </svg>

        </div>
    </nuxt-link>
</template>


<script>
export default {
    name: 'secondaryButton',
    data () {
        return {
            text: 'text'
        }
    },
    props: ['secondText', 'secondPath'],
}
</script>


<style lang="scss" scoped> 

.button {
    width: auto;
    height: 50px;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    transition: .4s ease-in;
    p {
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 800;
        letter-spacing: .5px;
        padding: 8px;
        transition: .4s ease-in;
        @media only screen and (max-width: 450px) {
            font-size: 16px;
        }
    }
    &:hover {
        .dot {
            opacity: 1;
            transition: .4s ease-in;
        }
        svg {
            width: 40px;
        }
    }
    svg {
        width: 0px;
        height: auto;
        transition: .4s;
    }
}
    
</style>