<template>
    <burger class="burger-nav">
      <div class="close" >
          <p @click="isActive = !isActive" >MENU</p> 
        </div>
      <transition name="fade">
        <div class="container" :class="{ passive: isActive }">
              <div class="mobile-links">
                  <ul>
                      <li @click="isActive = !isActive"><nuxt-link to="/">Projects</nuxt-link></li>
                      <li @click="isActive = !isActive"><nuxt-link to="/about">About</nuxt-link></li>
                      <li @click="isActive = !isActive"><nuxt-link to="/contact">Contact</nuxt-link></li>
                  </ul>
              </div>
        </div> 
      </transition>
    </burger>
</template>

<script>


export default {
    name: 'sideBar',
    data () {
      return {
        isActive: true
      }
    },
    methods: {
    }
}
</script>



<style lang="scss">

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 1;
}

.passive {
  opacity: 1;
  z-index: -1000;
  height: 0vh;
  transform: translateX(100%) !important;
}

    .close {
      width: 100%;
      height: 100px;
      z-index: 10000;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      position: absolute;
      p {
        margin: 24px;
        font-weight: bold;
      }
    }

.burger-nav {
  z-index: 1000;
  height: 100px;
  width: 100%;
  position: fixed;
  @media only screen and (min-width: 450px) {
    display: none;
  }
  .container {
    position: absolute;
    height: 100vh;
    top: 0;
    background-color: black;
    width: 100%;
    z-index: 1000;
    transition: .4s ease-in;
    transform: translateX(0px);
  }
}


.mobile-links {
  display: flex; 
  justify-content: flex-end;
  text-align: right;
  padding: 0;
  margin: 20vh 24px 0 0;
  ul {
    text-align: right;
    padding-left: 0;
    list-style-type: none;
    a {
      padding-top: 50px;
      display: flex;
      text-align: right;
      justify-content: flex-end;
      text-decoration: none;
      opacity: .2;
      text-transform: uppercase;
      font-size: 24px;
      h2 {
        color: white;
      }
    }
  }
}


.nuxt-link-exact-active {
  opacity: 1 !important;
}


@media only screen and (max-width: 720px) {
    .burger-nav {
        display: block;
    }
}

</style>
