<template>
    <div class="page flex-center">
        <div class="container flex-center">
            <h2>Working on it! 💪</h2>
            <div v-html="example">
            </div>
        </div>
    </div>
</template>


<script>
export default {
    name: 'aboutPage',
}
</script>


<style lang="scss" scoped>


.page {
    height: 100vh;
    display: flex;
    .container {
        height: 100%;
    }
}
    
</style>