<template>
    <div class="page">
      <div class="carousel">
        <hooper :settings="hooperSettings">
            <slide>
                <project-preview 
                    projectThumbnail="https://alexborecky.com/images/gsi.jpg"
                    :projectName="firstProject"
                    :secondText="messageTwo"
                    secondPath='/gsi'
                />
            </slide>
            <slide>
                <project-preview 
                    projectThumbnail="https://images.unsplash.com/photo-1517241034903-9a4c3ab12f00?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80"
                    :projectName="secondProject"
                    :secondText="messageTwo"
                    secondPath='/chat'
                />
            </slide>
            <slide>
                <project-preview 
                    projectThumbnail="https://alexborecky.com/images/data.png"
                    :projectName="thirdProject"
                    :secondText="messageTwo"
                    secondPath='/data'
                />
            </slide>
            <slide>
                <externalPreview 
                    projectThumbnail="https://alexborecky.com/images/film.jpg"
                    :projectName="fourthProject"
                    :linkText="messageTwo"
                    url="https://sinnarnfilms.com"
                />
            </slide>
            <hooper-pagination slot="hooper-addons"></hooper-pagination>
        </hooper>
        </div>
    </div>
</template>


<script>

import { 
    Hooper, 
    Slide,
    Pagination as HooperPagination
} from 'hooper'
import 'hooper/dist/hooper.css'
import backButton from '@/components/backButton.vue'


export default {
    components: {
        Hooper,
        Slide,
        HooperPagination,
        backButton
    },
    data() {
        return {
            hooperSettings: {
                itemsToShow: 1.25,
                centerMode: true,
                infiniteScroll: true,
                transition: 800,
                wheelControl: false,
            },
            firstProject: 'Green Sun Investment',
            secondProject: 'Chat',
            thirdProject: 'Data Website',
            fourthProject: 'Film',
            messageTwo: 'View Project',
            actingLink: 'https://sinarnfilms.com',
        }
  },
  head () { 
      return {
          title: 'Portfolio | Alex Borecky'
      }
  }
}

</script>


<style lang="scss" scoped>

.page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    @media only screen and (max-width: 450px) {
        height: 85vh;
    }
    .carousel {
      width: 100%;
      height: 90%;
      display: flex;
      align-items: flex-end;
      @media only screen and (max-width: 450px) {
          height: 80%;
          align-items: center;
          margin-top: 20%;
          .hooper {
              height: 100%;
              .hooper-list {
                  height: 50vh !important;
              }
          }
      }
    }
    a {
        margin-bottom: 40px;
    }
}

.hooper-slide {
    &:hover {
        cursor: grab;
    }
    &:active {
        cursor: grabbing;
    }
}
    
</style>