<template>
    <div class="page">
        <div class="container under-navigation">
            <projectHeader 
                :projectTitle="projectTitle"
                projectImage="https://alexborecky.com/images/data.png"
                url="#"
            />
            <div class="project-statuses flex-row">
                <projectStatus
                :statusHeadline="client"
                :attributeOne="clientAttribute"
                />
                <projectStatus
                :statusHeadline="role"
                :attributeOne="roleAttributeOne"
                :attributeTwo="roleAttributeTwo"
                />
                <!-- <projectStatus
                :statusHeadline="problem"
                :attributeOne="problemAttribute"
                />
                <projectStatus
                :statusHeadline="task"
                :attributeOne="taskAttribute"
                /> -->
                <projectStatus
                :statusHeadline="status"
                :attributeOne="statusAttribute"
                />
            </div>
            <projectDescription
                :projectDescription="description"
            />
            <projectImage
                :sectionTitle="titleOne"
                :sectionContent="contentOne"
                imageHolder="https://alexborecky.com/images/dataOne.png"
            />
            <imageText
                :imageText='imageTextOne'
                coverImage="https://alexborecky.com/images/dataFive.png"
            />
            <projectImage id="swap"
                :sectionTitle="titleThree"
                :sectionContent="contentThree"
                imageHolder="https://alexborecky.com/images/dataTwo.png"
            />
            <imageText
                :imageText='imageTextTwo'
                coverImage="https://alexborecky.com/images/dataFour.png"
            />
            <projectImage
                :sectionTitle="titleTwo"
                :sectionContent="contentTwo"
                imageHolder="https://alexborecky.com/images/dataThree.png"
            />
        </div>
    </div>
</template>


<script>

export default {
    name: 'dataProject',
    components: {
    },
    head () { 
      return {
          title: 'Data Website | Alex Borecky'
      }
    },
    data () {
        return {
            projectTitle: 'Data Website',
            secondText: 'Visit Website',
            // CLIENTS
            client: 'Client',
            clientAttribute: 'Kendaxa Group',
            // ROLES
            role: 'Role',
            roleAttributeOne: 'Product Designer',
            //PROBLEM 
            problem: 'Problem',
            problemAttribute: 'Outdated UI and information',
            //TASK 
            task: 'Task',
            taskAttribute: 'Redesign existing website based on research',
            //STATUS
            status: 'Status',
            statusAttribute: 'Concept',
            //DESCRIPTION
            description: 'This work has been my own initiative as I found the company\'s existing website very outdated, not working correctly and all-in-all in need of update. Since I have worked for this company for some time, I thought I would give it a try' ,
            //SECTION ONE
            titleOne: 'Idea',
            contentOne: 'Since the company is able to provide a lot and most of it is connected with Data Science, the idea is to actually lighten up the overall site and use visual language that will make the user understand the message of the site, but will not get terrified by the amount and nature of the information, which can me overwhelming.' ,
            //IMAGE TEXT
            imageTextOne: 'The main goal was to cover the complex content and nature of Data Science in a way that is comfortable for the users that are coming to the website.',
            //SECTION TWO
            titleTwo: 'Illustrations',
            contentTwo: 'This was a first time when I experimented with 3D looking icons and illustrations. I was trying to get my hands on a project that would require this type of illustrations and I thought this one would be the perfect one. The use of them is justified as data websites are usually very sterile and tend to loose the emotinal touch.',
            //IMAGE TEXT
            imageTextTwo: 'Key was to understand the main goal of the users, which came down to education - the users meant to study company\'s knowledge before initiating any contact.',
            //SECTION THREE
            titleThree: 'Content',
            contentThree: 'This is and will be a problem, still. The amount of content and information that the website is supposed to cover is simply too much. However, there is a need to provide as much information about the company\'s services as possible, for the users coming on the website are usually people seeking new business opportunities and need to have a lot of information before they get in touch.' ,
        }
    }
}
</script>


<style lang="scss" scoped>

.project-statuses {
    flex-wrap: wrap;
    div {
        margin-right: 50px;
        padding-bottom: 24px;
        @media only screen and (max-width: 450px) {
            margin-right: 0;
        }
    }
}
    
</style>