<template>
    <div class="page">
        <div class="container under-navigation">
            <projectHeader 
                :projectTitle="projectTitle"
                projectImage="https://alexborecky.com/images/gsi.jpg"
                url="https://greensuninvestment.cz/"
                :buttonTitle="secondText"
            />
            <div class="project-statuses flex-row">
                <projectStatus
                :statusHeadline="client"
                :attributeOne="clientAttribute"
                />
                <projectStatus
                :statusHeadline="role"
                :attributeOne="roleAttributeOne"
                :attributeTwo="roleAttributeTwo"
                />
                <!-- <projectStatus
                :statusHeadline="problem"
                :attributeOne="problemAttribute"
                />
                <projectStatus
                :statusHeadline="task"
                :attributeOne="taskAttribute"
                /> -->
                <projectStatus
                :statusHeadline="status"
                :attributeOne="statusAttribute"
                />
            </div>
            <projectDescription
                :projectDescription="description"
            />
            <projectImage
                :sectionTitle="titleOne"
                :sectionContent="contentOne"
                imageHolder="https://alexborecky.com/images/greenOne.png"
            />
            <imageText
                :imageText='imageTextOne'
                coverImage="https://alexborecky.com/images/greenFive.png"
            />
            <projectImage
                :sectionTitle="titleTwo"
                :sectionContent="contentTwo"
                imageHolder="https://alexborecky.com/images/greenThree.png"
            />
            <imageText
                :imageText='imageTextTwo'
                coverImage="https://alexborecky.com/images/greenSeven.png"
            />
            <projectImage
                :sectionTitle="titleThree"
                :sectionContent="contentThree"
                imageHolder="https://alexborecky.com/images/greenTwo.png"
            />
        </div>
    </div>
</template>


<script>

export default {
    name: 'gsiProject',
    components: {
    },
    head () { 
      return {
          title: 'GSI Project | Alex Borecky'
      }
    },
    data () {
        return {
            projectTitle: 'Green Sun Investment',
            secondText: 'Visit Website',
            // CLIENTS
            client: 'Client',
            clientAttribute: 'Green Sun Investment',
            // ROLES
            role: 'Role',
            roleAttributeOne: 'Product Designer',
            roleAttributeTwo: 'Coder',
            //PROBLEM 
            problem: 'Problem',
            problemAttribute: 'Unclear message of existing website',
            //TASK 
            task: 'Task',
            taskAttribute: 'Redesign existing website based on research',
            //STATUS
            status: 'Status',
            statusAttribute: 'Online 🟢',
            //DESCRIPTION
            description: 'I was asked to simplify website layout of a company that had a very difficult to navigate web design before. Task was to recreate the entire layout so that it can be used as a template to franchise branches all over the world.',
            //SECTION ONE
            titleOne: 'Home Page',
            contentOne: 'The amount of information the company is showing online isn\'t big and they are focusing on personal touch. However, simplicity of the information caused that I had to deal with overwhelming amount of white space. Thus, llustrations saved me.' ,
            //IMAGE TEXT
            imageTextOne: 'It was important to create a fresh website that would be understandable for a wide range of audience. Users of the page ranged between 26-75.',
            //SECTION TWO
            titleTwo: 'Branches',
            contentTwo: 'The comapny has offices around the world and they all will essentially adapt the new design. However, the branches live their own life and the information shared might be different from one to another. Layouting was for different amount of information was the most difficult part of the process.',
            //IMAGE TEXT
            imageTextTwo: 'Though easy at it may sound, to create a minimalistic website that serves as a representation of complex company is usually a task of major difficulty.',
            //SECTION THREE
            titleThree: 'Design System',
            contentThree: 'This is one of the first projects coded entirely by me in Vue.js. I\'m currently in process of refactoring to Nuxt.js as it allowed me to create in-site uiKit. Usage of Design System with reusable components has proved as most efficient, for the website is than easily adjsutable and build of block of recycled components. Think of it as Legos!',
        }
    }
}
</script>


<style lang="scss" scoped>

.project-statuses {
    flex-wrap: wrap;
    div {
        margin-right: 50px;
        padding-bottom: 24px;
        @media only screen and (max-width: 450px) {
            margin-right: 0;
        }
    }
}
    
</style>